/out/
/bin/com/gabriel/compiler/
/code.mx
/a.out
/code
/code.c
/code.ll
/mycode.ll
/code.cpp
/src/com/gabriel/compiler/builtin/builtin.ll
/src/com/gabriel/compiler/builtin/builtin.o
/mycode.s
/builtin.ll
/string_builtin.ll
/string_utility.ll
/ans
/ans.out
/builtin
/code.s
/my.out
/test.in
2
